
/********** Common **********/
body, html {margin: 0 auto;padding: 0;width: 80%;height: 100%}
body {font-family: Roboto;font-size: 12px;background: #fff;color: #424242}
h1, h2, h3, h4, h5 {margin: 0}
ul {list-style: none;padding: 0;margin: 0}

/********** branding color **********/ 
/*
Primary__colors #02b3e4
Secondary__colors #2d3c49
Third__colors #7d97ad
*/
 
/********** Header **********/
.header {width: 100%;display: flex;margin: 0px auto;border-bottom: solid 3px #7d97ad;padding: 20px 0px 30px}
.header__logo {width: 50%;order: 1}
.header__logo img {height: 72px;margin-right: 1em;vertical-align: top;margin-top: 12px}
.header__title{width: 50%;order: 2;color:#2d3c48;text-align:right;text-transform: uppercase}
.header__title h1 {font-size: 3em;font-weight: 300;letter-spacing: 5px;margin:0.5em 0em 0.1em 0em}
.header__title h3 {font-weight: 500;letter-spacing: 2px;font-size: 1.5em}

/********** Main **********/
.main {width: 100%;margin-left: auto;margin-right: auto}

/********** Content **********/
.content .portfolio__banner{padding: 30px 0px 20px}
.section__title {font-size: 2em;color: #7d97ad;letter-spacing: 10px;padding: 10px 0px}
.features__work{display: flex;padding-bottom: 30px;text-align: center}  
.features__work a{font-size: 2.5em;letter-spacing: 5px;text-transform: uppercase;text-decoration: none;color: #2d3c49}
.features__work a:hover{text-decoration: underline}
.features__work .item1{order: 1;width: 33.3%}
.features__work .item2{order: 2;width: 33.3%}
.features__work .item3{order: 3;width: 33.3%}
 


